@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

:root{
    --primary-color: #FB7185;
    --secondary-color: #FB7185
}
body{
    font-family: 'Merriweather', serif;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    text-align: center;
    margin: auto;
}
.primary-link{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    text-decoration: none;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);
    color: #701A75;
}
.secondary-link{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
}