@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');
:root{
    --primary-color: #10B981;
    --secondary-color: #34D399;
    --dark-gray: #334155;
    --section-gray-color:#E2E8F0; 
}
hr{
    margin: 2rem 0rem;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    background-color: #121212;
    color: #FFFAFA;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    text-align: center;
    margin: auto;
}
.link{
    text-decoration: none;
}
.primary-link{
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    text-decoration: none;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);
    color: #701A75;
}
.secondary-link{
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
}

.list-non-bulleted{
    list-style: none;
}

.list-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation{
    padding: 0.5rem 0.5rem;
    background-color: var(--primary-color);
    border-bottom-left-radius: 0.6rem;
}

.navigation .nav-pills{
    text-align: right;
    margin-right: 3rem;
}

.navigation .nav-brand{
    font-weight: 600;
    font-size: large;
}

.navigation .link{
    color: #FFFAFA;
}

.navigation .link-active{
    font-weight: 900;
    border: 2px solid #FFFAFA;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
}

/* Hero Styling*/
.header{
    padding: 1rem;
}

.header .header-image{
    margin: auto;
    max-width: 40%;
    max-height: 50%;
    display: block;
    padding: 2rem 1rem
}

.header .header-heading{
    font-weight: 700;
    font-size: 1.9rem;
    color:  var(--dark-gray);
    text-align: center; 
    max-width: 50%;
    margin: auto;
}

/* Section */

.section-about-me{
    background-color: var(--secondary-color);
    text-align: center;
}
.section-about-me .section-heading{
    color:black;
    font-weight: 700;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.9rem;
}

.section .section-text{
    font-size: 1rem;
    
}
.section-gray{
    padding: 1rem 1rem;
    background-color: var(--section-gray-color);
    border-radius: 1rem;
}
.section-white{
    padding: 1rem 1rem;
    border-radius: 1rem;
}

.section-text{
    text-align: center;
}

/* footer */
.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    border-top-right-radius: 1rem;
}

.footer-header{
    text-align: center;
    color: white;
}

.list-footer{
    text-align: center;
    margin-block-start: 0em;
}

.footer .link{
    color: white;
}